<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.shop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppShopKt"
        tools:targetApi="31">
        <!-- 屏幕适配start -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="374" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="826" /> <!-- 屏幕适配end -->
        <!-- 沉浸式状态栏start -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 沉浸式状态栏end -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e3fd9a8e388a6477778cbb845d10be37" /> <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.GoodsDetailActivity" />
        <activity android:name=".ui.activity.ShowListImageActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.AccountLoginActivity" />
        <activity android:name=".ui.activity.OrderActivity" />
        <activity android:name=".ui.activity.CollectActivity" />
        <activity android:name=".ui.activity.AttentionActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.MerchantSettledActivity" />
        <activity android:name=".ui.activity.BindActivity" />
        <activity android:name=".ui.activity.ModifyNickNameActivity" />
        <activity android:name=".ui.activity.AccountSecurityActivity" />
        <activity android:name=".ui.activity.PointsDetailsActivity" />
        <activity android:name=".ui.activity.ReflectAccountActivity" />
        <activity android:name=".ui.activity.PayPasswordActivity" />
        <activity android:name=".ui.activity.ChangeBindPhoneActivity" />
        <activity android:name=".ui.activity.VerifiedActivity" />
        <activity android:name=".ui.activity.AboutUsActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx47fcab0bc471c79a" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.InviteFriendsActivity" />
        <activity android:name=".ui.activity.AddressListActivity" />
        <activity android:name=".ui.activity.AddAddressActivity" />
        <activity android:name=".ui.activity.CategoryListActivity" />
        <activity android:name=".ui.activity.WebViewActivity" />
        <activity android:name=".ui.activity.ConfirmOrderActivity" />
        <activity android:name=".ui.activity.PayOrderActivity" />
        <activity android:name=".ui.activity.StoreHomepageActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.WelcomeGuideActivity" />
        <activity android:name=".ui.activity.MyTeamActivity" />
        <activity android:name=".ui.activity.MyPurseActivity" />
        <activity android:name=".ui.activity.WithdrawActivity" />
        <activity android:name=".ui.activity.WithdrawalAccountActivity" />
        <activity android:name=".ui.activity.RefundAfterSaleActivity" />
        <activity android:name=".ui.activity.ReservationOrderActivity" />
        <activity android:name=".ui.activity.WriteOffOrderActivity" />
    </application>

</manifest>