<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.shop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppShopKt"
        tools:targetApi="31">

        <!-- 屏幕适配start -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="374" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="826" /> <!-- 屏幕适配end -->
        <!-- 沉浸式状态栏start -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 沉浸式状态栏end -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e3fd9a8e388a6477778cbb845d10be37" /> <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.shop.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GoodsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.activity.ShowListImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AccountLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MerchantSettledActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AccountSecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PointsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReflectAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangeBindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VerifiedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx47fcab0bc471c79a" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.InviteFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.StoreHomepageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WelcomeGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyPurseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RefundAfterSaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReservationOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WriteOffOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OperationsCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EvaluationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OperationCenterApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BusinessSchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.StoreImpressionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ComplaintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WalletDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WithdrawalsRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ConversionIntegralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ConfirmCartOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayCartOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SubmitVeriActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShowVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SignInActvity"
            android:screenOrientation="portrait" />
    </application>

</manifest>